@import '../../scss/app.scss';
.Precios{
    width: 100%;
    .contenido{
        position: relative;
        width: 100%;
        padding-top: 5em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        h2{
            font-family: $anton;
            color: $azulPrincipal;
            text-align: center;
        }
        .tabla-precios{
            display: flex;
            width: 100% !important;
            height: 100%;            
            justify-content: center;
            @media (max-width: 800px) {
                flex-direction: column;
                margin-bottom: 1em;
            }
        }
        .tabla-capacidades{
            width: 100%;
            h2{
                font-family: $anton;
                color: $azulPrincipal;
                text-align: center;
            }
        }
    }
}