@import '../../scss/app.scss';

.Footer{
    width: 100%;
    padding: 1em;
    background-color: $azulPrincipal;
    color: white;
    display: flex;
    flex-direction: column;
    .informacion-empresa{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 710px) {
            width: 100%;
            flex-direction: column;
        }
        .datos-empresa{
            width: 50%;
            @media (max-width: 710px) {
                width: 100%;
                text-align: center;
            }
            ul li{
                list-style: none;
            }
        }
        .redes-empresa{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 710px) {
                width: 100%;
            }
            ul{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                li{
                    list-style: none;
                    font-size: 3em;
                    a{
                        color: white;
                        transition: all 0.3s;
                        &:hover{
                            color: $negro;
                        }
                    }
                }
            }
        }
    }
    .derechos-autor{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                list-style: none;
                a{
                    text-align: center;
                    color: white;
                }
            }
        }
    }
}