@import '../../scss/app.scss';

.Nav{
    position: fixed;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $azulPrincipal;
    justify-content: space-between;
    padding: 1em;
    border-bottom: solid 3px $negro;
    ul{
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0 !important;
        @media (max-width: 710px) {
            width: 100%;
            justify-content: space-evenly;
        }
        li{
            list-style: none;
            margin-left: 8px;
            a{
                color: white;
                margin-left: 1em;
                margin-right: 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 710px) {
                    border: solid 1px white;
                    border-radius: 5px;
                    width: 20px;
                    height: 20px;
                    padding: 1em;
                }
                strong{
                    margin-left: 5px;
                    @media (max-width: 710px) {
                        display: none;
                    }
                }
            }
        }        
    }
}