@import '../../../scss/app.scss';

.InfoCard{
    display: flex;
    border-bottom: solid 2px $azulPrincipal;
    .carta{
        display: flex;
        @media (max-width: 710px) {
            flex-direction: column;
        }
        .imagen{
            width: 50%;
            @media (max-width: 710px) {
                width: 100%;
            }
            figure{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                    height: auto;
                }
            }
        }
        .descripcion{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1em;
            @media (max-width: 710px) {
                width: 100%;
            }
            h2{
                font-family: $anton;
                color: $azulPrincipal;
                text-align: center;
            }
            p{
                font-family: $monserrat;
                font-weight: bold;
            }
        }
    }
}