@import '../../../scss/app.scss';
.Card{
    position: relative;
    height: auto;
    padding: 1em;
    background-color: $azulClaro;
    margin-right: 1em;
    transition: 0.5s all;
    @media (max-width: 940px) {
        width: 100% !important;
        flex-direction: column;
        margin-bottom: 1em;
    }
    &:hover{
        background-color: $azulPrincipal;
        cursor: pointer;
    }
    .imagen{
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .descripcion{
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        h3{
            text-align: center;
            font-family: $anton;
        }
        strong{
            text-align: center;
        }
    }
}