@import '../../scss/app.scss';

.Home{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .header{
        position: relative;
        padding-top: 5em;
        width: 100%;
        display: flex;
        border-bottom: solid 2px $azulPrincipal;
        @media (max-width: 710px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .figura{
            width: 50%;           
            @media (max-width: 710px) {
                width: 100%;
            }
            figure{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 70%;
                    height: auto;
                }
            }
        }
        .slider{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            @media (max-width: 710px) {
                width: 100%;
            }
            h1{
                font-family: $anton;
                color: $azulPrincipal;
                text-align: center;
            }
        }
    }
    .servicios{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        border-bottom: solid 2px $azulPrincipal; 
        h2{
            font-family: $anton;
            color: $azulPrincipal;
            text-align: center;
        }
        .lista-servicios{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            @media (max-width: 710px) {
                flex-direction: column;
            }
        }
    }
    .micro-servicios{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;       
        h2{
            font-family: $anton;
            color: $azulPrincipal;
            text-align: center;
        }
    }
}