.Error{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 800px) {
        flex-direction: column;
    }
    .error-imagen{
        width: 50%;
        figure img{
            width: 100%;
        }
    }
    .mensaje{
        color: #0f4c81ff;
        text-align: center;
    }
}