@import '../../../scss/app.scss';

.PreciosCard{
    height: auto;
    border: solid 2px $azulPrincipal;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover{
        background-color: $azulClaro;
        cursor: pointer;
    }
    @media (max-width: 870px) {
        width: 100% !important;
    }
    .PreciosCard-titulo{
        h2{
            padding-top: 10px;
            color: white;
            text-align: center;
            font-family: $anton;
            text-align: center;
        }
    }
    .PreciosCard-elementos{
        display: flex;
        justify-content: center;
        align-items: center;
        strong{
            text-align: center;
            font-family: $monserrat;
        }
    }    
    .PreciosCard-descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        p{
            text-align: center;
            font-family: $anton;
        }
    }
    .PreciosCard-precio
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        strong{
            font-size: 2em;
            text-align: center;
            color: $azulPrincipal;
            font-family: $anton;
        }
    }
}