@import '../../../scss/app.scss';

.Cotizador{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: solid 2px $azulPrincipal;
    border-radius: 5px;
    .buscador-clientes{
        display: flex;
        flex-direction: column;
        label{
            text-align: center;
            font-family: $anton;
            color: $azulPrincipal;
        }
        input{
            border-radius: 5px;
            margin-bottom: 5px;
            padding: 5px;
            border: solid 2px $azulPrincipal;
        }
        button{
            color: white;
            background-color: $azulClaro;
            border-radius: 5px;
            padding: 5px;
            transition: all 0.3s;
                &:hover{
                    background-color: $azulPrincipal;
                }
        }
        span{
            background-color: red;
            color: white;
            text-align: center;
            border: solid 1px white;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    }
    .formulario-cotizador{
        display: flex;
        justify-content: space-around;
        @media (max-width: 710px) {
            flex-direction: column;
        }
        h3{
            color: $azulPrincipal;
            font-family: $anton;
            text-align: center;
        }
        .formulario-cotizador-contacto{
            width: 45%;
            display: flex;
            flex-direction: column;
            @media (max-width: 710px) {
                width: 100% !important;
            }
            div{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                label{
                    color: $azulPrincipal;
                    font-family: $monserrat;
                    font-weight: bold;
                }
                input{
                    padding: 5px;
                    border-radius: 5px;
                    font-family: $monserrat;
                    font-weight: bold;
                    border: solid 2px $azulPrincipal;
                }
            }
        }
        .formulario-cotizador-servicios{
            width: 45%;
            @media (max-width: 710px) {
                width: 100% !important;
            }
            div{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                label{
                    color: $azulPrincipal;
                    font-family: $monserrat;
                    font-weight: bold;
                }
                input{
                    padding: 5px;
                    border-radius: 5px;
                    font-family: $monserrat;
                    font-weight: bold;
                    border: solid 2px $azulPrincipal;
                }
                textarea{
                    border-radius: 5px;
                    border: solid 2px $azulPrincipal;
                }
                button{
                    color: white;
                    background-color: $azulClaro;
                    border-radius: 5px;
                    padding: 5px;
                    transition: all 0.3s;
                    &:hover{
                        background-color: $azulPrincipal;
                    }
                }
            }
        }
    }
}